<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<title>SandBoxBoard</title>
</head>

<body>
	<h1>SandBoxBoard</h1>
	<p>誰でも自由に編集や削除ができる匿名掲示板です。</p>
	<ul>
		<% for (const book of books) { %>
		<li>
			<form action="/edit">
				<b>
					<% if(book.name === ""){ %>
						名無し
					<% }else{ %>
						<%= book.name %>
					<% } %>
				:</b>
				<%= book.content %>
				<i style="color:gray">(
					<% if(book.edited){ %>
						編集済み:
					<% } %>
					<script>document.write(new Date("<%= book.time.toJSON() %>").toLocaleString());</script>
				)</i>
				<input type="hidden" name="id" value="<%= book.id %>">
				<button>編集</button>
			</form>
		</li>
		<% } %>
	</ul>
	<form method="post" action="/send">
		<input placeholder="名前" name="name" />
		<input placeholder="コメント" name="content" />
		<button>送信</button>
	</form>
</body>

</html>
