.header {
	position: fixed;
	width: 100%;
	height: 60px;
	padding: 20px;
	top:0;
	left:0;
	background-color:#dff;
}
.header1 {
	margin: 0;
	height:30px;
}

.header2 {
	margin-top:10px;
	height:20px;
}
.comments_begin {
	margin-top: 110px;
}
.comments_last {
	margin-bottom: 80px;
}
.comments {
	padding-top: 10px;
	padding-bottom: 10px;
}
.comment_item {
	padding: 5px;
}
.comment_item_header {
	padding-bottom: 5px;
	width: 100%;
}
.comment_item_date{
	padding-left: 10px;
	color:gray;
}
.comment_item_body{
	padding-left: 5px;
	padding-right: 5px;
}
.comment_item:hover {
	padding: 5px;
	background-color: #ffd;
}

.footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background-color: #ddd;
	padding:15px;
}
.footer1{
	height: 20px;
	margin-bottom: 3px;
	font-size: 12px; 
}
.footer1 button{
	height: 20px;
	font-size: 12px; 
}